<h1> Stupid Coaching</h1>
<div class = "question-box">
  <p><%= @question %></p>
  <p><em> -You </em></p>
</div>
<div class = "answer-box">
  <p id ="answer"><bold><%= @answer%></bold></p>
  <p id ="coach"><em>-Your Coach</em></p>
</div>

<%= link_to "Go back", ask_path %>
